@import '@servicenow/sass-kit/host';

:host .now-ex-date-time {
    height: 60px;
    margin-bottom: 20px;
}

:host now-ex-date-time-picker {
    display: none;
    padding: 0px 0;
    position: fixed;
    opacity: 0;
    transition: opacity 0.3s;

}

:host now-ex-date-time-picker[class="show"] {
    display: inline-block;
    text-align: center;
    z-index: 100;
    opacity: 1;
    color: black;
}
